@if (showLogo && logoLoaded) {
    <div class="core-logo-container">

    </div>
}

@if (showSiteName && siteName) {
    @switch (siteNameMode) {
        @case ('p') {

        }
        @case ('') {
            <core-format-text [text]="siteName" contextLevel="system" [contextInstanceId]="0" class="core-logo-sitename"
                [siteId]="siteId" />
        }
        @case ('h2') {
            <!-- <h2 class="ion-margin-top ion-no-padding core-logo-sitename">
                <core-format-text [text]="siteName" contextLevel="system" [contextInstanceId]="0" [siteId]="siteId" />
            </h2> -->
        }
    }
}
